main {
  display: flex;
  gap: 40px;
  background: #ffffff;
  border-radius: 60px 60px 0px 0px;
  height: calc(100vh - (200px + 70px));
  margin-top: -70px;
  padding: 40px 50px;
}

.btn-insert {
  all: unset;
  background: linear-gradient(91.26deg, #fa8c10 0%, #ff57d3 97.77%);
  color: #ffffff;

  border-radius: 5px;
  width: 100%;
  height: 38px;

  padding: 2px;
  text-align: center;
  cursor: pointer;
}
